language: python
python:
  - "2.7"
  - "3.6"
branches:
  only:
    - master
install:
  - "mkdir /tmp/bin"
  - "cp bin/gofer /tmp/bin/gofer"
  - "cp bin/goferd /tmp/bin/goferd"
  - "pip install six"
  - "pip install future"
  - "pip install src/"
script: nosetests test/unit