[Unit]
Description=Gofer Agent
After=network.target

[Service]
Environment=PYTHON=/usr/bin/python3
EnvironmentFile=/etc/sysconfig/goferd
ExecStart=/usr/bin/env ${PYTHON} /usr/bin/goferd --foreground
Restart=on-abort

[Install]
WantedBy=multi-user.target
